%%% ===========================================================================
%%% @doc `agents' Rebar configuration file.
%%% @author Damian T. Dobroczy\\'nski <qoocku@gmail.com>
%%% @since 2011-11-15
%%% ===========================================================================

{deps, [{emixins, ".*", {git, "git://github.com/qoocku/emixins.git", "master"}}]}.

{eunit_first_files, ["test/agent_process_test_suit.erl"]}.

{edoc_opts, [{def, [{std_doc, "[http://www.erlang.org/doc/man/{@?}]"}]},
             {private, true},
             {preprocess, true},
             {includes, ["include"]}]}.
{erl_opts, [debug_info]}.
